/* nível 1 */
#pond{
    display: flex;
    justify-content: flex-end;
}

/* nível 2 */
#pond{
    display: flex;
    justify-content: center;
}

/* nível 3 */
#pond{
    display: flex;
    justify-content: space-around;
}

/* nível 4 */
#pond{
    display: flex;
    justify-content: space-between;
}

/* nível 5 */
#pond{
    display: flex;
    align-items: flex-end;
}

/* nível 6 */
#pond{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nível 7 */
#pond{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* nível 8 */
#pond{
    display: flex;
    flex-direction: row-reverse;
}

/* nível 9 */
#pond{
    display: flex;
    flex-direction: column;
}

/* nível 10 */
#pond{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

/* nível 11 */
#pond{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* nível 12 */
#pond{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/* nível 13 */
#pond{
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
}

/* nível 14 */
#pond {
    display: flex;
}
  
.yellow {
    order: 2;
}

/* nível 15 */
#pond {
    display: flex;
  }
  
.red {
    order: -3;
}

/* nível 16 */
#pond {
    display: flex;
    align-items: flex-start;
}
  
.yellow {
    align-self: flex-end;
}

/* nível 17 */
#pond {
    display: flex;
    align-items: flex-start;
}

.yellow {
    order: 2;
    align-self: flex-end;
}

/* nível 18 */
#pond {
    display: flex;
    flex-wrap: wrap;
}

/* nível 19 */
#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* nível 20 */
#pond {
    display: flex;
    flex-flow: column wrap;
}

/* nível 21 */
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

/* nível 22 */
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

/* nível 23 */
#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

/* nível 24 */
#pond {
    display: flex;
    flex-flow: wrap-reverse;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: space-between;
}